#container {
    display: flex;
    width: 990px;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
  
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#box {
    display: flex;
    width: 990px;
    height: 800px;
  
    float: left;
    margin: auto;
    padding: auto;
}

.minibox {
    
    width: 650px;
   height: auto;
 
   margin-left: -50px;

    
}

.productimg {
    border-radius: 20px;
}

img {
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
}

button {
    border: none;
}



#button_cocoa_Vanilla {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 20px;
    width: 300px;
    background-color: rgba(255, 0, 85, 0.664);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
}

#like {
   font-size: 20px;
   background-color: white;

  
}

.box2 {
    display: flex;
   
    float: left;
}

.minibox2 img{
    height: 50px;
    margin-left: 90px;
}

.box3 {
    width: 565px;
    height: 500px;
   
    margin-left: 75px;
    border-radius: 20px;
    background-color: rgba(156, 11, 96, 0.582);
    color: white;
    padding-left: 50px;
}

.head2 {
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.newdiv {
    width: 800px;
    padding-left: 375px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.product_heading_1 {
    display: inline;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.726);

}

.product_heading_1_1 {
    display: inline;
    font-size: 20px;
    
    color: rgba(0, 0, 0, 0.726);
}

.product_rating {
    font-weight: normal;
    font-size: 15px;
   
}

.minibox_1 {
    
    width: 550px;
   height: auto;
   text-align: left;
    margin-left: 70px;
    
}

.product_price {
    font-size: 22px;
}

.product_price_colored {
    color: rgba(255, 0, 0, 0.438);
}

.product_sub_heading {
    font-size: 10px;
    margin-top: -20px;
}

.product_size {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 40px;
}

.product_size_quantity {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    font-weight: lighter;
   
}

.product_para {
    font-size: 13px;
    font-weight: bold;
    margin-top: -10px;
}

.product_heading_3 {
    font-size: 25px;
    font-weight: normal;
}

.product_heading_3_span {
   font-style: italic;
   font-weight: bold;
}

.minibox_sample_img {
  margin-left: auto;

 width: 150px;
 
}

.minibox_sample_img img {
    height: 50px;
    margin-left: 30%;
}

.product_heading_5 {
    font-size: 15px;
    text-align: center;
    margin-left: -20px;
    color: rgba(0, 0, 0, 0.541);
    font-weight: normal;
    margin-bottom: -10px;
}

#box_container {
    width: 400px;
  
   
    border-radius: 20px;
    color: white;
    background-color: rgba(192, 0, 192, 0.692);
    margin-top: -150px;
    padding-left: 50px;
    padding-right: 20px;
}


#footer
        {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: auto;
            text-decoration: none;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        #foot1>a
        {
            margin: top 50px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.801);
        }
        #foot2>a
        {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.788);
        }
        #footlogo>img
        {
            height: 25px;
            width: 25px;
            padding-right: 10px;;
        }
        #footer>h3
        {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

.sub_heading_1 {
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 20px;
}
        
.sub_main_heading_1 {
    font-size: 30px;
    font-weight: normal;
    color: brown;
}

#image {
    width: 450px;
    margin-left: 50px;
}

.mini_img{
    width: 45px;
    border-radius: 10px;
    background-color: white;
    
}

.productimg_2 {
    margin-left: 45px;
}

.minipara_1 {
 
    font-size: 10px;
    position: relative;
    top: 240px;
    right: 250px;
}

.down_img {
    width: 990px;
}