
        /* bag css */
        #parent {
            width: 100vw;
            height: 79vh;
            background-color: rgba(0, 0, 0, 0.596);
            position: fixed;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 2;

        }

        #parent>div {
            width: 30vw;
            height: 100vh;
            background-color: white;
            padding: 10px;
            position: fixed;
            right: 0px;
            top: 0px;
        }

        #parent>div>div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;
            margin-bottom: 10px;
            border-bottom: 2px solid gray;
        }

        #parent>div>div>img {
            width: 20px;
            height: 20px;
        }

        /* h1 ,this css for only devlopment not nesesrly , you can deny  */
        h1 {
            text-align: end;
            margin-right: 10px;
            font-family: Montserrat, sans-serif;;
        }
        .placedata{
            height:50% ;
            overflow-y:scroll;
        }
        .showprod {
            display: flex;
            /* justify-content: space-between; */
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        .showprod>div>p {
            padding: 5px;
            font-size: 1.3rem;
            /* font-weight: 600; */
        }

        .showprod>div>p:last-child {
            text-align: end;
        }

        .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            padding-left: 0px;
        }

        .total>h2 {
            letter-spacing: 2px;
            margin-left: 0px;
        }

        .total>p {
            font-size: 1.3rem;
        }

        .bagimage {
            width: 120px;
            height: 120px;
        }
        #checkout{
            width: 95%;
            margin-top: 20px;
            background-color: #FF6781;
            color: white;
            font-size: 1.3rem;
            padding: 10px;
        }