
#main_container {
    width:75%;
    height: auto;
    margin: auto;
}

.first_img {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top:138px;
}

#box1 {
    display: flex;
    float: left;
   padding-left: 100px;
   border-radius: 20px;
   
   width: 850px;
  
}
.img_block { 
  margin-right: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
   border-radius: 20px;
   width: 225px;
   margin-bottom: 80px;
   
}

.mainheading_img {
    width: 225px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

#box2 {
    display: flex;

    width: 750px;
    height: auto;
    margin-left: 100px;
    margin-bottom: 50px;
}

.minibox {
    width: 300px;
    height: auto;
  
    margin-right: 50px;
    
}


#btn {
    font-size: 15px;
    width: 300px;
    background: rgb(255, 0, 140);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;

}


#btn2 {
    font-size: large;
    width: 600px;
    background: rgb(255, 0, 140);
    color: white;
    font-weight: 200;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.main_heading {
    color: rgba(0, 0, 0, 0.753);
    margin-top: 50px;
    font-size: 25px;
    font-weight: normal;
}

.sub_heading {
    font-weight: bolder;
    margin-top: -25px;
    font-size: 30px;
    color: black;
}

.colored_heading {
    color: rgb(189, 37, 189);
    font-size: 18px;
    margin-top: -25px;
    margin-bottom: 50px;
}

.main_heading_img_block {
    color: rgba(0, 0, 0, 0.753);
   
    font-size: 20px;
    font-weight: normal;
}

.product_rating {
   font-size: 15px;
   margin-top: -45px;
   font-weight: lighter;
}

.product_rating_span {
    color: blue;
 }
 

.discount_tag { 
    font-size: 15px;
    color: white;
    background-color: rgba(51, 46, 46, 0.616);
    width: 100px;
    position: relative;
    bottom: 315px;
    left: 100px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.discount_tag_big { 
    font-size: 15px;
    color: white;
    background-color: rgba(51, 46, 46, 0.616);
    width: 100px;
    position: relative;
    bottom: 315px;
    left: 250px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_heading_1 {
    font-size: 15px;
    margin-top: -10px;
    color: black;
}

.product_heading_2 {
    font-size: 15px;
    font-weight: lighter;
    margin-top: -10px;
    color: #000000;
   
}

.product_price {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.534);
}

#btn_change_img-2 {
    font-size: 40px;
    border: none;
    background-color: transparent;
    color:grey;
    position: relative;
    top:-240px;
    bottom: 160px;
    right: 560px;
}

#btn_change_img-1 {
    font-size: 40px;
    border: none;
    background-color: transparent;
    color:grey;
    position: relative;
    top:-240px;
    bottom: 160px;
    left: 560px;
}

.change_to_black {
    color: black;
}


.img_showonly {
    width: 97%;
    /* height: 400px; */
 padding: 28px;;
}  