#container2
        {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        #container2>.mainN
        {
            padding-top: 80px;
        }
        .mainN>div>p
        {
            font-size:large;
            text-align: center;
        }
        .mainN>div>h1
        {
            font-style: italic;
            text-align: center;
        }
        .mainN>div>h2
        {
            font-style: italic;
            text-align: center;
        }
        .mainN>div>h2
        {
            text-align: center;
        }
        .mainN>div>h3
        {
            text-align: center;
        }
        .mainN>div
        {
            text-align: center;
            margin: auto;
        }
        #boxpic1N
        {
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:auto;
            gap: 20px;
            text-align: center;
            width: 75%;
        }
        #boxpic1N>img
        {
            width: 559px;
            height: 347px;
        }
        #box3N
        {
            width: 75%;
            margin: auto;
            padding-top: 20px;
        }
        #box3N>div>p
        {
            font-size: x-large;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: rgba(0, 0, 0, 0.719);
        }
        .cleanbeauty
        {
            font-weight: bolder;
            font-style: italic;
        }
        #box4N
        {
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-between;
            
        }
        #box4N>img
        {
            width: 140px;;
            height: 140px;
            padding-top: 5px;
        }
        #boxpic6N
        {
            display: flex;
            width: 80%;
            margin: auto;
        }
        #boxpic6N>div>h2
        {
            margin: 10px;
            font-weight:100;
            font-style: inherit;
            color: rgb(105, 103, 103);
        }
        #boxpic6N>div>img
        {
            height: 142px;
            width: 142px;
        }
        #review
        {   
            display: flex;
            justify-content:space-between;
            width: 75%;
            margin: auto;
            height:100%;
        }
        #review>div>img
        {
            width: 230px;
            height: 230px;
            border-radius: 5%;
            /* position: relative; */
            width: 230px;
            height: 230px;

        }
        #review>div>div
        {   
            background-color: white;
            padding:10px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            width: 204px;
            height: 103px;
            border-radius: 10px;
            justify-content: center;
            margin: auto;
            /* position: absolute; */
            /* top: 230px; */
            width: 203px;
            height: 103px;
        }
        #boxpic8N
        {
            display: flex;
            margin: auto;
            justify-content: center;
        }
        #container2
        {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        #container2>.mainN
        {
            padding-top: 80px;
        }
        .mainN>div>p
        {
            font-size:large;
            text-align: center;
        }
        .mainN>div>h1
        {
            font-style: italic;
            text-align: center;
        }
        .mainN>div>h2
        {
            font-style: italic;
            text-align: center;
        }
        .mainN>div>h2
        {
            text-align: center;
        }
        .mainN>div>h3
        {
            text-align: center;
        }
        .mainN>div
        {
            text-align: center;
            margin: auto;
        }
        .mainN>.desp{
            margin-top:40px;
        }
        #boxpic1N
        {
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:auto;
            gap: 20px;
            /* text-align: center; */
            width:80%;
            margin-left:auto;
        }
        #boxpic1N>img
        {
            width: 559px;
            height: 347px;
        }
        #box3N
        {
            width: 75%;
            margin: auto;
            padding-top: 20px;
        }
        #box3N>div>p
        {
            font-size: x-large;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            color: rgba(0, 0, 0, 0.719);
        }
        .cleanbeauty
        {
            font-weight: bolder;
            font-style: italic;
        }
        #box4N
        {
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-between;
            
        }
        #box4N>img
        {
            width: 140px;;
            height: 140px;
            padding-top: 5px;
        }
        #boxpic6N
        {
            display: flex;
            width: 80%;
            margin: auto;
        }
        #boxpic6N>div>h2
        {
            margin: 10px;
            font-weight:100;
            font-style: inherit;
            color: rgb(105, 103, 103);
        }
        #boxpic6N>div>img
        {
            height: 142px;
            width: 142px;
        }
        #review
        {   
            display: flex;
            justify-content:space-between;
            width: 75%;
            margin: auto;
            height:100%;
        }
        #review>div>img
        {
            width: 230px;
            height: 230px;
            border-radius: 5%;
            /* position: relative; */
            width: 230px;
            height: 230px;

        }
        #review>div>div
        {   
            background-color: white;
            padding:10px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            width: 204px;
            height: 103px;
            border-radius: 10px;
            justify-content: center;
            margin: auto;
            /* position: absolute; */
            /* top: 230px; */
            width: 203px;
            height: 103px;
        }
        #boxpic8N
        {
            display: flex;
            margin: auto;
            justify-content: center;
        }