
#primeproduct{
    /* width:75%; */
    display:grid;
    grid-template-columns:repeat(5,1fr);
    line-height:25px;
    margin-left:1%;
    margin-right:1%;
}
#primeproduct>div{
    border:1px ;
        height: auto;
        background: #FFFFFF;
        box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;;
        border-radius: 6px;
        margin:4%;
        cursor: pointer;
}
.images{
    width:100%;
    height:auto;
    border-radius:6px 6px 0px 0px;
}
.prodtext{
    font: 1em sans-serif;
    /* font-family:'Ubuntu'; */
    text-align: center;
    font-size: 15px;
    padding: 3% 1%;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #000000;
    position:relative;
    top:-3px;
}
/* slider styles */
#slider{
    overflow: hidden;
      height:420px;
      width:100%;
      border-radius: 10px;
}
#slides{
   display:flex;
   width:500%;
   height:420px;
   margin-top:10px;
   overflow:hidden;
}
#slides input{
    display:none;
}
.slide{
    width:20%;
    transition:2s;
    cursor: pointer;
}
.slide img{
    width:100%;
    height:420px;
    border-radius:20px;
}

/* manual button navigation */
.manNavigation{
    position:absolute;
    width:95%;
    display:flex;
    justify-content: center;
}
.man_button{
    border:1px solid grey;
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition:2s;
    margin:5px;
}
.man_button:hover{
    background: grey;
}

#radio1:checked~ .first{
    margin-left:0;
}
#radio2:checked~ .first{
    margin-left:-20%;
}
#radio3:checked~ .first{
    margin-left:-40%;
}
#radio4:checked~ .first{
    margin-left:-60%;
}
#radio5:checked~ .first{
    margin-left:-80%;
}
/* auto navigation button */
 .autoNavigation{
position:absolute;
display:flex;
justify-content: center;
margin-left:43.51%;
margin-top:31.1%;
cursor:pointer;
}

.autoNavigation div{
     border:1px solid grey;;
     padding:5px;
     border-radius:10px;
    transition:1s;
    margin:5px;


} 
#radio1:checked ~ .autoNavigation .auto_btn1{
     background-color:grey;
}
#radio2:checked ~ .autoNavigation .auto_btn2{
    background: grey;
}
#radio3:checked ~ .autoNavigation .auto_btn3{
    background-color: grey;
}
#radio4:checked ~ .autoNavigation .auto_btn4{
    background-color: grey;
}
#radio5:checked ~ .autoNavigation .auto_btn5{
    background-color: grey;
} 

/* text css*/ 
.index-text {
        text-align: center;
        line-height: 1.4;
        margin-top: 5%;
       font-family:roboto;
}
.LineA{
    font-weight:100;
    font-size:26px;
}
.LineB{
    font-size: 50px;
}
.LineB span {
    font-style: italic;
    font-weight: 1000;
}