#menuShow,#menuClose{
    width: 30px;
    margin: 20px;
}
#menuClose{
    display: none;
}
#menu{
    position: fixed;
    bottom: 0px;
    height: 90%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.527);
  
}
#menu>div{
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    position: fixed;
    bottom: 25px;
    background-color: white;
    margin: auto;
}
#menu>div>div{
    width:50%;
    /* border: 1px solid red; */

}
#menu>div>div>a{
    text-decoration: none;
    color: rgb(66, 64, 64);
    font-size: 1.2rem;
    display: block;
    margin: 20px;
    font-weight: 600;
}
#menu>div>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid grey;


}
#menu>div>div>img{
    width: 85%;

}
