#form{
    width:60%;
    grid-template-rows: repeat(4,1fr);
    margin: auto;
    padding: 10px;
}
/*form tah with inside Div */
#form > div {
    display: grid;
    justify-content: center;
    margin-top: 200px;
    /* padding-top: 150px; */
}
/* this the lable tag with class name "a" */
.a
{
    font-size: 15px;
    font-family:sans-serif;
    padding:10px;
    font-weight: bold;
    color: #3c3c3c;
}
/* create button using input submit tag */
#btn{
    width: 395px;
    height: 43px;
    padding: 9px 20px;
    margin-top: 20px;
    background-color: #3c3c3c;
    border: none;
    color: white;
}
/* input tag box height increase */
#email{
    width: 387px;
    height: 43px;
    
}
#first{
    width: 387px;
    height: 43px;
    
}
#last{
    width: 387px;
    height: 43px;
    
}
#pass{
    width: 387px;
    height: 43px;
    
}
/* Singup using facebook and Gmail */
#form > div > #facebook_sign{
    width: 390px;
    height: 45px;
    margin-top: 15px;
    background-color:#4267B2;
    border:none;
    font-size: 15px;
    color: white;
}
#form > div > #gmail_sign{
    width: 390px;
    height: 45px;
    margin-top: 15px;
    background-color:#EA4335;
    border:none;
    font-size:#EA4335;
    color: white;
}
h2{
    text-align: center;
    color:#3c3c3c;
}
a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}